.add-new-task {
  display: flex;
  color: white;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  label {
    color: white;
  }

  input {
    border-color: white;
    color: white;
  }

  .css-1480iag-MuiInputBase-root-MuiInput-root:before {
    border-bottom: 1px solid white;
  }

  .css-sghohy-MuiButtonBase-root-MuiButton-root {
    margin: 13px 3px;
  }

  .MuiFormControl-root {
    width: 70%
  }

  .add-button{
    text-transform: none;
  }
}

@media screen and (max-width: 281px) {
  add-new-task {    
    width: 95vw;
  }
}