.App {
  text-align: center;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;

  .title {
    text-align: center;
  }

  .size-icon {
    font-size: 40px;
  }
  .span-style-decor {
    text-decoration: line-through;
  }
  
}

@media screen and (max-width: 540px) {
  .main {
    .size-icon {
      font-size: 30px;
    }
  }
}

